body{
	font-family: sans-serif;
	margin: 0;
}
ul, li{
	list-style: none;
	padding: 0;
}
button, input[type=submit], input[type=reset]{
	cursor: pointer;
}
h4{
	margin-top: 0;
	text-align: center;
}
.col-table{
	width: 300px;
	float: left;
}
.container{
	min-width: 900px;
}
.row{
	margin-left: 5%;
	margin-right: 5%;
}
.row:after, .row:before{
	content: "";
	display: table;
}
.row:after{
	clear: both;
}
#contact{
	background: black;
	text-align: right;
}
#contact ul li a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	margin-right: 20px;
}
#contact ul li a:hover{
	color: LimeGreen;
}
#contact .user{
	cursor: default;
	float: left;
}
.header{
	display: block;
	border-bottom: 2px solid aqua;
	padding: 20px 0;
}
.header .logo{
	float: left;
	margin-top: 10px;
}
.header .nav{
	float: right;
}
@media(max-width: 920px){
	.header .logo{
		width: 100%;
	}
	.header .nav{
		float: left;
		margin-left: 10px;
	}
}
.header .nav a{
	text-decoration: none;
	margin-right: 20px;
	color: black;
	text-shadow: 1px 1px 1px black;
}
.header .nav a:hover{
	color: MediumTurquoise;
	transition: 0.5s;
}
.btn-logout{
	padding: 8px 30px;
	color: MediumTurquoise;
	border: 1px solid MediumTurquoise;
	border-radius: 20px;
	background: white;
	cursor: pointer;
}
.btn-logout:hover{
	background: limegreen;
	border: 1px solid limegreen;
	color: white;
	transition: 0.5s;
}
.btn-kirim{
	padding: 10px 50px;
	background: mediumspringgreen;
	border: none;
	color: white;
	cursor: pointer;
	margin-top: 10px;
}
.btn-kirim:hover{
	background: springgreen;
	transition: 0.5s;
}
#content{
	min-height: 650px;
}
#content h1{
	color: white;
	margin-top: 150px;
	font-family: sans-serif;
	font-size: 48px;
    font-weight: normal;
    text-align: center;
    color: white;
}
#content p{
	color: white;
	font-size: 16px;
	text-align: center;
	margin: 0 100px;
	color: white;
	text-shadow: 0.5px 0.5px 1px black;
}
.footer{
	background: silver;
	padding: 60px 20px;
}
.col-footer{
	float: left;
	width: 25%;
}
.footer ul li{
	padding: 8px 0;
}
.footer ul li a{
	text-decoration: none;
	color: black;
	cursor: default;
}
.footer ul li a:hover{
	color: green;
}
.footer ul li a i{
	margin-right: 10px;
}
.footer textarea{
	resize: none;
	width: 100%;
	height: 100px;
	border-radius: 4px;
}
.footer h4{
	text-align: left;
}
.data table{
	border-collapse: collapse;
}
.data table th, table td{
	border: 1px solid silver;
}
.data table th{
	padding: 15px 0;
}
.data table td{
	padding: 5px;
}
.btn-edit, .btn-simpan{
	border: none;
	padding: 7px 10px;
	border-radius: 3px;
	color: white;
	background: royalblue;
	font-size: 15px;
}
.btn-edit:hover, .btn-simpan:hover{
	background: #2251dd;
}
.btn-delete, .btn-cancel{
	border: none;
	padding: 7px 10px;
	border-radius: 3px;
	color: white;
	background: deeppink;
	font-size: 15px;
}
.btn-delete:hover, .btn-cancel:hover{
	background: #e6007a;
}
.btn-add{
	float: left;
	border: none;
	padding: 7px 10px;
	border-radius: 3px;
	color: white;
	background: royalblue;
	font-size: 15px;
}
.btn-add:hover{
	background: #2251dd;
}
.btn-gotop{
	border: none;
	background: DeepSkyBlue;
	padding: 20px;
	border-radius: 4px;
	color: white;
	float: right;
	margin-top: 50px;
	font-weight: bold;
}
.btn-gotop:hover{
	background: DodgerBlue;
	transition: 1s;
}
#form-edit, #form-input{
	width: 300px;
	visibility: hidden;
	opacity: 0;
	top: 20%;
	left: 30%;
	padding: 30px 70px;
	background: white;
	position: fixed;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#form-edit:target, #form-input:target{
	visibility: visible;
	opacity: 1;
	transition: 1s;
}
#form-edit table, tr, td, #form-input table, tr, td{
	border: none;
}
#form-edit input, select, #form-input input, select{
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 5px;
	border-radius: 4px;
	border: 1px solid silver;
	box-sizing: border-box;
}
#form-delete{
	background: white;
	top: 25%;
	left: 35%;
	visibility: hidden;
	opacity: 0;
	padding: 30px 70px;
	position: fixed;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#form-delete h5{
	text-align: center;
	color: red;
}
#form-delete:target{
	visibility: visible;
	opacity: 1;
	transition: 1s;
}
.btn-delete:focus #form-delete{
	visibility: visible;
	opacity: 1;
	transition: 1s;
}
.password{
	border: none;
	font-weight: bold;
	letter-spacing: 3px;
	background: transparent;
}
.form-search{
	float: left;
	margin-left: 20px;
}
.form-search input[type=search]{
	border: 1px solid silver;
	border-radius: 3px;
	font-size: 15px;
	padding: 6px 5px 6px 35px;
	background: url(images/searchicon.png) no-repeat left;
	background-position: 5px; 
	outline: none;
}
.form-search input[type=submit]{
	visibility: hidden;
}