html,
body {
    height: 100%;
}
h2  { color: #fff;
    font-family: georgia;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}

h4{
    text-align: center;
    color: white;    
}
p{
    text-align: center;
    color: white;    
}

body {
    margin: 0;
    background: linear-gradient(rgba(54,197,240,1) 8.2%, rgba(135,206,250) 92.4% );
    font-family: sans-serif;
    /*background: url('2.jpg') no-repeat fixed;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    font-weight: 100;
    */
}
.awal {
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container1 {
    position: absolute;
    color: #fff;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container2 {
    position: absolute;
    color: #fff;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}




table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead {
    th {
        background-color: #55608f;
    }
}

tbody {
    tr {
        &:hover {
            background-color: rgba(255,255,255,0.3);
        }
    }
    td {
        position: relative;
        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(255,255,255,0.2);
                z-index: -1;
            }
        }
    }
}