body{
    background-color: #f1c40f;
    -webkit-animation: color 5s ease-in  0s infinite alternate running;
    -moz-animation: color 5s linear  0s infinite alternate running;
    animation: color 5s linear  0s infinite alternate running;
}
@-moz-keyframes color {
0% { background-color: #f1c40f; }
32% { background-color: #e74c3c; }
55% { background-color: #9b59b6; }
76% { background-color: #16a085; }
100% { background-color: #2ecc71; }
}
h1 {
	text-align: center;
	font-weight: 300;
}

.tulisan_login {
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}

.kotak_login {
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
	box-shadow: 0px 0px 80px 4px #d6d6d6;

}

label {
	font-size: 11pt;
}

.form_login {
	/*membuat lebar form penuh*/
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.tombol_login {
	background: #2aa7e2;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.link {
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}

.alert {
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border: 1px solid #b32929;
}